.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #23395b;
}

.menu {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
}

/* 
    #table {
      text-align: center;
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      border: 3px solid #ddd;
      width: 80%;
      margin-left:auto;
      margin-right:auto;
     }
    
   
    #table td, #table th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #table tr:nth-child(even){background-color: #f2f2f2;}
    
    #table tr:hover {background-color: #ddd;}
    
    #table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      background-color: #4CAF50;
      color: white;
    }
    
    #text-block {
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
    }
     */
.appTitle {
  color: purple;
  margin: 50px auto;
  font-weight: bold;
}

.addBarButtonStyle {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;

}

.addInputBar {
  height: 35px;
  line-height: 10px;
  font-size: 15px;
}

.addButton {
  height: 40px;
  font-size: 28px;
  font-weight: bolder;
  margin-left: 5px;
  background-color: blueviolet;
  color: whitesmoke;
  border-radius: 5px;
}

.tableView {
  margin-left: "10%";
  margin-right: "10%";
  width: auto;
}

.toDoButton {
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  margin: 5px;
}

.deleteButton {
  background-color: orange;
  color: whitesmoke;
  border-radius: 5px;
}

.batches {
 margin: 0px 70px 0px 70px !important;
  padding: 5px;
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #61dafb;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.batches input{
  margin: 5px 3px 5px 3px;
}
.batches button{
  margin: 5px 3px 5px 3px;
}
.add-button{ 
 margin: 7px 10px 3px auto !important;
}

.select-style {
  margin: 10px;
  margin-left:2%;
  margin-right:2% ;
  padding: 4px;
  border-radius: 6px;
  text-align: center;
  font-size: 15px;


}


.data-list {
  margin-top: 20px;
  padding : 10px 70px 10px 70px;
  
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

.view {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

.bottom ul {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.top-header ul {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.bottom ul li {
  width: 500px !important;
  background-color: aliceblue;
  margin-top: 5px !important;
 
}

.top-header ul li {
  width: 500px !important;
  background-color: blue;
}


/* .top-header::-webkit-scrollbar {
  display: none;
}

.bottom::-webkit-scrollbar {
  display: none;
}  */